.menu1 {
    display: flex;
    padding-top: 125px;
}

.menu {
    width: 151px;
    background: rgb(236, 236, 236);
    height: 86vh;
    position: absolute;
    top: 125px;
    margin-left: 5px;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
    padding: 31px;
}

.lblnombre {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
}

.lblrol {
    width: 100%;
    color: #780000ef;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-size: 18px;
}

.itemmenu {
    width: 100%;
    color: rgb(80, 80, 80);
    text-align: center;
    font-family: sans-serif;
    padding-left: 11px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.itemmenu:hover {
    padding-left: 15px;
    color: #780000ef;
}
