<footer>
    <img class="logo-nike" src="logo-nike.png" alt="logo">
    <p class="texto2">&copy; 2025 | Reservados todos los derechos a Alexandra Restrepo</p>
    <p class="texto1">Términos y condiciones | Políticas de privacidad | Preguntas frecuentes</p>
    <a href="https://www.instagram.com/nike/" target="_blank"><img class="logo-insta" src="instagram.png" alt="logo red social"></a>
    <a href="https://api.whatsapp.com/qr/AVYS22XQJEM4D1?autoload=1&app_absent=0" target="_blank"><img class="logo-wpp" src="wpp.png" alt="logo red social"></a>
  </footer>
  
  
