
<!--SECTION1-portada-->

<section class="seccion1">
    <img class="img-portada" src="portada2.jpg" alt="Imagen portaada">
    <h1>ZENRUN</h1>
    <p class="texto-portada">Infinitas posibilidades de comodidad diaria.</p>
    <a href="../productos"><button class="boton-portada">COMPRAR</button></a>
</section>

<!--SECTION2-explorar la coleccion-->

<section class="seccion2">
<h2 class="titulo-section2"> EXPLORAR LA COLECCIÓN</h2>
</section>

<!--SECTION2-cards-->

<section>
  <section class="productos">
    @for (producto of productos; track $index) {
    <div class="card">
      <img
        src="{{ producto.foto }}"
        class="img-card"
        alt="{{ producto.nombre }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text">{{ producto.precio | currency}}</p>
        <button type="button" class="boton-agregar">Agregar</button>
      </div>
    </div>
    }
  </section>
</section>

<!--SECTION3-mujer y hombre-->

<section class="seccion3">
<h2 class="titulo-section3">SOLO EN ZENRUN</h2>
<p class="subtitulo-section3">Ven y explora</p>
<div class="section-mujer-hombre-niño">
    <div class="categoria">
        <img class="mujer" src="seccion-mujer.jpg" alt="Seccion mujer">
        <p class="texto-mujer">MUJER</p>
        <button class="boton-mujer"><a href="../mujer">VER</a></button>
    </div>

    <div class="categoria">
        <img class="hombre" src="seccion-hombre.jpg" alt="Seccion hombre">
        <p class="texto-hombre">HOMBRE</p>
        <button class="boton-hombre"><a href="../hombre">VER</a></button>
    </div>

    <div class="categoria">
        <img class="niño" src="niño.jpg" alt="Seccion niño">
        <p class="texto-niño">NIÑO</p>
        <button class="boton-niño"><a href="../nino">VER</a></button>
    </div>
</div>
</section>

<!--SECTION4-regala zenrun-->

<section class="seccion4">
<h2 class="titulo-section4">REGALA ZENRUN</h2>
</section>

<!--SECTION4-cards-->

<section>
  <section class="productos">
    @for (producto of productos; track $index) {
    <div class="card">
      <img
        src="{{ producto.foto }}"
        class="img-card"
        alt="{{ producto.nombre }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text">{{ producto.precio | currency}}</p>
        <button type="button" class="boton-agregar">Agregar</button>
      </div>
    </div>
    }
  </section>
</section>

<!--SECTION5-seccion zapatillas-->

<h2 class="titulo-section5">SECCIÓN DE ZAPATILLAS</h2>
<section class="seccion5">
    <div class="section-zapatillas">
        <img class="img-zapato" src="zapatos1.png" alt="zapatos">
    </div>
    <div class="section-zapatillas">
        <img class="img-zapato" src="zapatos2.png" alt="zapatos">
    </div>
    <div class="section-zapatillas">
        <img class="img-zapato" src="zapatos3.webp" alt="zapatos">
    </div>
    <div class="section-zapatillas">
        <img class="img-zapato" src="zapatos1.png" alt="zapatos">
    </div>
</section>

<!--SECTION6-publicidad-->   

<section class="seccion6">
    <img class="publicidad" src="publicidad.jpg" alt="Publicidad">
    <h2 class="titulo-section6">JORDAN 1 RETRO LOW</h2>
    <p class="texto-section6">Celebra con estilo</p>
    <a href="../productos"><button class="boton-pubicidad">EXPLORA</button></a>
</section>

