.btnnuevo {
    width: 44px;
    background: black;
    height: 44px;
    font-size: 27px;
    color: lightblue;
    text-align: center;
    border-radius: 50%;
    font-weight: 900;
    position: absolute;
    right: 15px;
    bottom: 25px;
    cursor: pointer;
}